.App {
  width: 60%;
  margin: 0 auto;
}
input{
  width: 100%;
  margin: 20px 0;
  padding: 7px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}


button{
  background-color: blue;
  outline: none;
  border: 1px solid blue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 5px 10px;
}
.contactList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
    border-top:1px solid rgb(199, 199, 199) ;
}
.data-user{
  display: flex;
  align-items: center;
}
.icon-user{
  margin-right: 16px;
    font-size: 1.75rem;
    color: #302828;
}
.trash-icon{
   font-size: 1.25rem;
    color: #fc0000;
}